# Modules

# Sets sane Zsh built-in environment options.
zmodule zimfw/environment
# Applies correct bindkeys for input events.
zmodule zimfw/input
# Utility aliases and functions. Adds colour to ls, grep and less.
zmodule zimfw/utility

# Prompt
zmodule romkatv/powerlevel10k --use degit

# OMZ modules
zmodule ohmyzsh/ohmyzsh --root plugins/command-not-found --use degit 
zmodule ohmyzsh/ohmyzsh --root plugins/magic-enter --use degit
zmodule ohmyzsh/ohmyzsh --root plugins/docker-compose --use degit
zmodule ohmyzsh/ohmyzsh --source lib/grep.zsh --use degit           # better grep highlighting
zmodule ohmyzsh/ohmyzsh --source lib/functions.zsh --use degit      # for omz_urlencode, used by termsupport.zsh
zmodule ohmyzsh/ohmyzsh --source lib/termsupport.zsh --use degit    # set titlebar
zmodule ohmyzsh/ohmyzsh --source lib/clipboard.zsh --use degit      # clipboard for yank

# Better ssh completion
# if you get a PCRE error: https://github.com/zthxxx/jovial/issues/12
zmodule sunlei/zsh-ssh

# Completion

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions --fpath src

# Docker completion
zmodule docker/cli --name docker --use mkdir --on-pull 'curl -fsSL -o _docker https://raw.githubusercontent.com/docker/cli/master/contrib/completion/zsh/_docker' --fpath .


# Enables and configures smart and extensive tab completion.
# completion must be sourced after all modules that add completion definitions.
zmodule zimfw/completion

# Load fzf and zsh-vi-mode after completion

# fzf support
zmodule Aloxaf/fzf-tab
zmodule folke/tokyonight.nvim --source extras/fzf/tokyonight_night.sh

# Better vi mode, fixes right arrow in command mode not crossing multiline
# Use fork until this is merged:
# https://github.com/jeffreytse/zsh-vi-mode/pull/308
# zmodule jeffreytse/zsh-vi-mode
zmodule jacobpbrugh/zsh-vi-mode


# Syntax highlighting modules should be loaded last
# Fish-like syntax highlighting for Zsh.
# zsh-users/zsh-syntax-highlighting must be sourced after completion
zmodule zsh-users/zsh-syntax-highlighting
# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions
# Additional highlighting
zmodule zdharma-continuum/fast-syntax-highlighting
